.container {
  box-sizing: border-box;
  color: #333;
  display: block;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1170;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.jumbotron {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-sizing: border-box;
  display: box;
  background-color: #D0D9DB;
  padding-top: 28px;
  padding-right: 60px;
  padding-bottom: 28px;
  padding-left: 60px;
}

.thumbnail {
  margin-left: 280px;
  margin-right: 280px;
}

.centerBlock {
  display: table;
  margin: 0 auto;
}

.timeline {
  padding-left: 40px;
  padding-right: 40px;
}